URxvt.depth: 32
URxvt.scrollBar: false
URxvt.internalBorder: 12
URxvt.urlLauncher : firefox

URxvt*transparent : true
URxvt*shading: 10
URxvt*blurRadius: 16

URxvt.background: [100]#000000
URxvt.foreground: [100]#b0d0f0
URxvt*color0: #b4cbab
URxvt*color1: #8C77A3
URxvt*color2: #a2a2a0
URxvt*color3: #373a61
URxvt*color4: #6b1940
URxvt*color5: #100519
URxvt*color6: #4a112f
URxvt*color7: #950e3a
URxvt*color8: #484379
URxvt*color9: #614a5a
URxvt*color10: #1a3c4b
URxvt*color11: #3d588b
URxvt*color12: #097776
URxvt*color13: #005055
URxvt*color14: #4ebdb9
URxvt*color15: #22606b
