html {
	font-family: Terminus;
	background-color: #181818;
	color: #282828;
}

body {
	margin: 0 auto;
}

#container {
	margin: auto;
	margin-left: 320px;
	margin-top: -40px;
	top: 50%; bottom: 50%;
	position: absolute;
}

a:link {
	color: #444444;
	text-decoration: none;
}

a:visited {
	color: #444444;
	text-decoration: none;
}

a:hover {
	color: #999999;
	text-decoration: none;
}
