URxvt.depth: 32
URxvt.background: [100]#181818
URxvt.foreground: [100]#ebeac5
URxvt.scrollBar: false
URxvt.font: xft:terminus:size=8:antialias=true:hinting=Full
URxvt.urlLauncher : firefox
URxvt*color0: #c0bc96
URxvt*color1: #9ea281
URxvt*color2: #8a8764
URxvt*color3: #cbd0b0
URxvt*color4: #6f7163
URxvt*color5: #4c4d3d
URxvt*color6: #5e5f4f
URxvt*color7: #363731
URxvt*color8: #c0bc96
URxvt*color9: #9ea281
URxvt*color10: #8a8764
URxvt*color11: #cbd0b0
URxvt*color12: #6f7163
URxvt*color13: #4c4d3d
URxvt*color14: #5e5f4f
URxvt*color15: #363731
